/*样式初始化*/
body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font: 12px "宋体", Times New Roman;
}
body {
  background: #14212a;
}
/*预定义样式*/
.w {
  width: 1000px;
  margin: 0 auto;
}
input:focus {
  border: 2px solid #ffa500;
}
/*用户登录*/
.top {
  width: 100%;
  height: 100px;
  background: #fff;
}
.top .logo {
  width: 1130px;
  height: 100px;
}
.form {
  width: 1130px;
  height: 588px;
  background: url("../image/login/login_bg.jpg") no-repeat center center;
}
.login {
  width: 400px;
  height: 470px;
  margin: 30px auto;
  background: #444;
  color: #fff;
  margin-right: 0px;
  border-radius: 4px;
}
.login .login_center {
  width: 360px;
  margin: 10px auto;
}
.login .login_center .login_top {
  margin: 10px 0;
}
.login .login_center .login_top .left {
  height: 40px;
  line-height: 40px;
  font-weight: bold;
  font-size: 20px;
}
.login .login_center .login_top .right {
  height: 40px;
  line-height: 40px;
  font-size: 13px;
}
.login .login_center .login_top .right a {
  color: #f00;
  font-weight: bold;
}
.login .login_center .login_top .right a:hover {
  color: #ffa500;
}
.login .login_center .login_main {
  padding: 5px 0;
}
.login .login_center .login_main .username {
  font: 16px Times New Roman;
  height: 40px;
  line-height: 40px;
  margin: 35px 0;
}
.login .login_center .login_main .username .shurukuang {
  width: 220px;
  height: 30px;
  border: 1px solid #ccc;
  padding: 5px 10px;
}
.login .login_center .login_main .username .shurukuang:focus {
  border: 1px solid #00f;
  background: #f0ffff;
}
.login .login_center .login_main .username .yanzhengma {
  width: 100px;
  height: 30px;
  border: 1px solid #ccc;
  padding: 5px 10px;
}
.login .login_center .login_main .username .yanzhengma:focus {
  border: 1px solid #00f;
  background: #f0ffff;
}
.login .login_center .login_main .username .right {
  margin-left: 20px;
}
.login .login_center .login_submit .submit {
  border: none;
  width: 240px;
  height: 45px;
  margin-left: 55px;
  background: #ff6700;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 2px;
  cursor: pointer;
  border-radius: 4px;
}
.login .login_center .login_submit .submit:hover {
  border: 1px solid #fff;
}
.login .login_center .login_other {
  width: 100%;
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.login .login_center .login_other .title {
  position: relative;
  width: 100%;
  height: 18px;
  border-bottom: 1px solid #fff;
  font-size: 14px;
}
.login .login_center .login_other .title span {
  position: absolute;
  top: 9px;
  left: 138px;
  background-color: #444;
}
.login .login_center .login_other a {
  display: inline-block;
  line-height: 30px;
  color: #fff;
  margin-top: 10px;
  font-size: 18px;
}
.login .login_center .login_other a:hover {
  color: #f00;
}
.login .login_center .login_other a i {
  display: block;
  float: left;
  width: 33px;
  height: 30px;
  margin-right: 10px;
  background-image: url("../image/login/QQ-weixin.png");
  background-size: auto 100%;
}
.login .login_center .login_other a i.qq {
  background-position: 0 0;
}
.login .login_center .login_other a i.wx {
  background-position: -33px 0;
}
.xian {
  height: 2px;
  background: #ff6700;
  margin: 8px 0;
}
/*设置按钮样式*/
footer {
  width: 100%;
  height: 80px;
  background: #fff;
  padding: 30px 0;
}
footer .copyright {
  height: 30px;
  line-height: 30px;
  font-size: 13px;
  word-spacing: 15px;
  text-align: center;
}
footer .copyright first-of-type {
  margin-top: 10px;
}
