body {
  background: #14212a;
}
/*预定义样式*/
body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font: 12px "宋体", Times New Roman;
}
.w {
  width: 1000px;
  margin: 0 auto;
}
input:focus {
  border: 2px solid #ffa500;
}
/*用户注册*/
#regist {
  width: 1000px;
  height: 550px;
  margin: 20px auto;
  background: #fff;
  color: #000;
  border-radius: 6px;
}
#regist .regist_center {
  width: 760px;
  margin: 10px auto;
}
#regist .regist_center .regist_top {
  margin: 10px 0;
}
#regist .regist_center .regist_top .left {
  height: 40px;
  line-height: 40px;
  font-weight: bold;
  font-size: 20px;
}
#regist .regist_center .regist_top .right {
  height: 40px;
  line-height: 40px;
  font-size: 13px;
}
#regist .regist_center .regist_top .right a {
  color: #ff6700;
  font-weight: bold;
}
#regist .regist_center .regist_top .right a:hover {
  color: #ffa500;
}
#regist .regist_center .regist_top .xian {
  height: 2px;
  background: #ff6700;
  margin: 8px auto;
}
#regist .regist_center .regist_main {
  padding: 10px 0;
  padding-left: 45px;
}
#regist .regist_center .regist_main .username {
  font: 16px Times New Roman;
  height: 40px;
  line-height: 40px;
  margin: 20px 0;
}
#regist .regist_center .regist_main .username .shurukuang {
  width: 220px;
  height: 30px;
  border: 1px solid #ccc;
  padding: 5px 10px;
}
#regist .regist_center .regist_main .username .shurukuang:focus {
  border: 1px solid #00f;
  background: #f0ffff;
}
#regist .regist_center .regist_main .username .yanzhengma {
  width: 100px;
  height: 30px;
  border: 1px solid #ccc;
  padding: 5px 10px;
}
#regist .regist_center .regist_main .username .yanzhengma:focus {
  border: 1px solid #00f;
  background: #f0ffff;
}
#regist .regist_center .regist_main .username .right {
  margin-left: 20px;
}
#regist .regist_center .regist_main .username span {
  display: inline-block;
  margin-left: 20px;
  font-size: 12px;
  color: #ccc;
  font-weight: bold;
}
#regist .regist_center .regist_main .username span:hover {
  color: #ff6700;
}
#regist .regist_center .regist_submit {
  margin: 20px auto;
}
#regist .regist_center .regist_submit .submit {
  border: none;
  width: 440px;
  height: 45px;
  margin-left: 45px;
  background: #ff6700;
  color: #fff;
  font-size: 22px;
  font-weight: bold;
  letter-spacing: 8px;
  cursor: pointer;
}
#regist .regist_center .regist_submit .submit:hover {
  border: 1px solid #ccc;
}
